*{
    margin: 0;
    padding: 0;
    font-family: 'Tapestry' , sans-serif;

}
ul a {
    color: white;
    text-align: right;
    position: right;
}


.container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),;    
    background-position: center;
    background-size: cover;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}
.navbar {
    height: 15%;
    display: flex;
    align-items: center;
}

nav{
    flex: 1;
    text-align: relative;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 50px;
}

nav ul li a{
    text-decoration:double;
    color: black;
    font-size: 15px;
}
.row{
    display: flex;
    height: 80%;
    align-items: center;
}
.col{
    flex-basis: 70%;
}
h1{
    color: white;
    font-size: 100px;
    line-height: 15px;
}
P {
    color: black;
    font-size: 11px;
    line-height: 15px;
}

.card{
    width: 600px;
    height: 300px;
    display: inline-block;
    border-radius: 20px;
    padding: 15px 25px;
    box-sizing: content-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: scale(2.0);
    transform: matrix3d(2.0);
    box-shadow: 1px 1px 1px 1px;
    backface-visibility: hidden;
}
.card1{
    background-image: url(NY.jpg);
}
.card2{
    background-image: url(san\ carlos.jpg);
    
}
.card3{
    background-image: url(vina.jpg);
    
    }
.card4{
    background-image: url(chile2.jpg);
}
.card:hover{
    transform: scale(2.4);
    
}
h1{
    position: static;
    font-family: 'Tapestry' , sans-serif;

}
h6 {
    color: aliceblue;
    font-family: 'Tapestry' , sans-serif;
}



h2 {
    position: relative;
    font-size: 3vw;
    color: black;
    -webkit-text-stroke: black;
    text-transform: uppercase;
}
h2::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    -webkit-text-stroke: black;
    border-right: 0px;
    overflow: hidden;
    animation: animate 8s linear infinite;
}

@keyframes animate
 {
    0%, 40%,100%
        {
           width: 0;
        }
          40%,80%
        {
            width: 100%;
        }
    }
    