@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;1,300&family=Tapestry&family=Teko&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Condensed';
}

.container{
    padding: 60px 0px;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.title {
    color: purple;
}

header {
    width: 100%;
    height: 600px;
    background: #8E2DE2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsl(260, 100%, 44%), hsla(272, 76%, 53%, 0.548),url(/images/logo4.jpg));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsl(260, 100%, 44%), hsla(272, 76%, 53%, 0.521), url(/images/logo4.jpg)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a {
    color: black;
    font-weight: 1000;
    text-decoration: none;
    margin-right: 10px;
}

nav > a:hover{
    color: white;
    text-decoration: underline;
}

header .text-header{
    display: flex;
    width: 100%;
    height: 430px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.text-header h1{
    font-size: 50px;
    color: black;
    position:center;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}