@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;1,300&family=Tapestry&family=Teko&display=swap');* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: white;
}

h1{font-size: 3.5em;}
h2{font-size: 2.5em;}
h3{font-size: 2em;}
p{list-style: none;}


body {
    margin: 0;
    font-family: 'Roboto+condensed', sans-serif;
}

.container {
    max-width: 1400px;
    margin:auto;
}

header{
    background-color: rgb(245,245,245);

}

header .logo {
    margin: 0;
    padding: 25px 30px;
}

header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header .nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;    
}

header a{
    padding: 5px 10px;
    text-decoration: none;
    font-weight: bold;
    color: black;

}

header a:hover {
    color: blueviolet;
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    background-image: linear-gradient( 0deg
    rgba(0,0,0,0,5),
    rgba(0,0,0,0,5)

    ) ,url("Black\ Logo-1.JPG");
    background-repeat: no-repeat;
    background-size: cover;
}
