@import url('https://fonts.googleapis.com/css2?family=Tapestry&family=Teko&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: white;
}

li, a, button {
    font-family: "Tapestry", sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: white;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    cursor: pointer;
    margin-right: auto;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a {
    transition: all 0.5 ease 0s;
}
.nav-links li a:hover {
    color: rgba(54, 7, 120);;
}

button{
    padding: 9px 25px;
    background-color: rgba(54, 7, 120);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.5 ease 0s;
}

button:hover {
    background-color: rgba(86, 24, 173);

}

.row {
    display: flex;
    color: white;
    align-items: center;
}

.col {
    flex-basis:70%;
}

.card{
    width: 600px;
    height: 300px;
    display: inline-block;
    border-radius: 20px;
    padding: 15px 25px;
    box-sizing: content-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    box-shadow: 5px 5px;
}